# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
playwright-report
test-results

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
/apps/mobile/web-build/
/apps/mobile/.expo/
/apps/mobile/.kotlin/
/apps/mobile/ios
/apps/mobile/android
/apps/mobile/app-example
packages/db/src/generated

# Generated Types
*.tsbuildinfo
next-env.d.ts
expo-env.d.ts


# Debug
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*

# Misc
.DS_Store
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
.env*
!.env.example
!apps/mobile/.env.example
